{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Contact us" %}{% endblock %}

{% block body %}
    <h1>{% trans "Contact us" %}</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <p><input type="submit" value="{% trans "Send message" %}" class="btn btn-primary"></p>
    </form>
{% endblock %}
