{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Message sent" %}{% endblock %}

{% block body %}
    <h1>{% trans "Your message was sent successfully" %}</h1>
    <p>{% trans "We will be in touch with you shortly." %}</p>
{% endblock %}
